<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Get help on the Ruby on Rails Tutorial at the <a href="http://railstutorial.org/help">Rails Tutorial help page</a>. To get help on this sampple app, see the <a href="http://railstutorial.org/book">Rails Tutorial book</a>. To reference the author's source code, go to on <a href="https://github.com/railstutorial/sample_app_rails_4">GitHub</a>.
</p>